/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html:{background:#f2f2f2 url(../images/bg-page.gif);}
* {font-size: 100.01%;}
html {font-size: 62.5%;}
body{
	color:#52595d;
	position:relative;
	min-width:990px;
	font:1.4em/1.286em Georgia, Times, serif;
	background:#f2f2f2 url(../images/bg-page.gif);
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#319ede;
}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
.btn-github{
	position:absolute;
	z-index:1;
	right:0;
	top:0;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	background:url(../images/btn-github.png) no-repeat;
	width:141px;
	height:141px;
	outline:none;
}
#wrapper{
	width:985px;
	margin:0 auto;
	z-index:2;
	position:relative;
}
#header{
	width:100%;
	z-index:2;
	padding:0 0 28px;
	position:relative;
	margin:0 0 -26px;
	background:url(../images/bg-header.png) 50% 100% no-repeat;
}
#header:after{
	content:'';	display:block;	clear:both;
}
.logo{
	margin:0;
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	width:169px;
	height:60px;
}

.logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo a{
	display:block;
	height:100%;
}
.top-holder{
	float:right;
	padding:27px 4px 0 0;
}
.top-holder .follow{
	font-size:15px;
	line-height:18px;
	color:#595f63;
	text-shadow: 1px 1px 1px #fff;
	float:left;
	margin:0 7px 0 0;
}
.top-holder ul {
	float:left;
}
.top-holder li{
	float:left;
	margin:0 0 0 12px;
  text-decoration: underline;
}
.social-networks li:first-child{margin:0;}
.social-networks a{
	float:left;
	width:20px;
	height:20px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}
.social-networks .twitter a{background:url(../images/bg-social-networks.png) no-repeat;}
.social-networks .facebook a{background:url(../images/bg-social-networks.png) -27px 0 no-repeat;}
#main{
	position:relative;
	z-index:1;
}
.main-holder{
	background:url(../images/bg-main-holder.png) no-repeat;
	overflow:hidden;
	padding:15px 50px 13px 48px;
	font-size:16px;
	line-height:24px;
}
.main-holder .txt-type{
	float:right;
	margin:0 0 0 45px;
}
.main-holder .text-holder{
	overflow:hidden;
	padding:17px 0 5px;
}
.main-holder h2{
	text-shadow: 1px 1px 1px #fff;
	color:#40494e;
	margin:0 0 48px 3px;
	font-size:36px;
	line-height:38px;
}
.main-holder h2 span{
	font-size:72px;
	line-height:82px;
	display:block;
	color:#319ede;
}
.main-holder p{margin:0 0 15px;}
.btn-look{
	display:block;
	font:bold 21px/28px Arial, Helvetica, sans-serif;
	border-radius: 23px;
	-moz-border-radius: 23px;
	-webkit-border-radius: 23px;
	width:174px;
	padding:9px 18px 8px 10px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	box-shadow: 1px 1px 1px #fff;
	-webkit-box-shadow: 1px 1px 1px #fff;
	-moz-box-shadow: 1px 1px 1px #fff;
	background:#da4808 url(../images/arrow01.png) 177px 50% no-repeat;
}
.text-box{
	padding:27px 35px 18px;
	background: url(../images/sep01.png) repeat-x;
	color:#4f5355;
	text-shadow: 1px 1px 1px #fff;
	font-size:1.5em;
	line-height:1.286em;
}
.link-holder{
	background: url(../images/sep01.png) repeat-x;
	padding:34px 0 20px 10px;
	overflow:hidden;
}
.link-holder .box{
	float:left;
	position:relative;
	width:340px;
	margin:-8px 15px 0 0;
}
.link-holder .btn-install{
	float:left;
	color:#444;
	padding:7px 0 10px 69px;
	font:bold 36px/40px Arial, Helvetica, sans-serif;
	background:url(../images/btn-install.png) 0 50% no-repeat;
}
.link-holder .btn-documentation{
	float:left;
	color:#444;
	padding:0 0 0 25px;
	margin:-5px 0 0 72px;
	font:bold 24px/30px Arial, Helvetica, sans-serif;
	background:url(../images/btn-documentation.png) 0 6px no-repeat;
}
.link-holder .btn{
	float:left;
	color:#fff;
	margin:0 13px 0 0;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	background: #0e83c8;
	width:172px;
	padding:10px;
	font-size:16px;
	line-height:20px;
	text-align:center;
	background: -moz-linear-gradient(top,  #0e83c8 0%, #0f84c9 1%, #0d82c7 1%, #0f84c9 2%, #2a9fe4 3%, #2ea1e4 5%, #2c9fe2 5%, #279add 15%, #2497da 23%, #2496dc 27%, #2095da 28%, #1e93d8 35%, #1b90d5 36%, #1d92d7 37%, #178cd1 46%, #1085ca 68%, #0e83c8 76%, #0e83c8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e83c8), color-stop(1%,#0f84c9), color-stop(1%,#0d82c7), color-stop(2%,#0f84c9), color-stop(3%,#2a9fe4), color-stop(5%,#2ea1e4), color-stop(5%,#2c9fe2), color-stop(15%,#279add), color-stop(23%,#2497da), color-stop(27%,#2496dc), color-stop(28%,#2095da), color-stop(35%,#1e93d8), color-stop(36%,#1b90d5), color-stop(37%,#1d92d7), color-stop(46%,#178cd1), color-stop(68%,#1085ca), color-stop(76%,#0e83c8), color-stop(100%,#0e83c8));
	background: -webkit-linear-gradient(top,  #0e83c8 0%,#0f84c9 1%,#0d82c7 1%,#0f84c9 2%,#2a9fe4 3%,#2ea1e4 5%,#2c9fe2 5%,#279add 15%,#2497da 23%,#2496dc 27%,#2095da 28%,#1e93d8 35%,#1b90d5 36%,#1d92d7 37%,#178cd1 46%,#1085ca 68%,#0e83c8 76%,#0e83c8 100%);
	background: -o-linear-gradient(top,  #0e83c8 0%,#0f84c9 1%,#0d82c7 1%,#0f84c9 2%,#2a9fe4 3%,#2ea1e4 5%,#2c9fe2 5%,#279add 15%,#2497da 23%,#2496dc 27%,#2095da 28%,#1e93d8 35%,#1b90d5 36%,#1d92d7 37%,#178cd1 46%,#1085ca 68%,#0e83c8 76%,#0e83c8 100%);
	background: -ms-linear-gradient(top,  #0e83c8 0%,#0f84c9 1%,#0d82c7 1%,#0f84c9 2%,#2a9fe4 3%,#2ea1e4 5%,#2c9fe2 5%,#279add 15%,#2497da 23%,#2496dc 27%,#2095da 28%,#1e93d8 35%,#1b90d5 36%,#1d92d7 37%,#178cd1 46%,#1085ca 68%,#0e83c8 76%,#0e83c8 100%);
	background: linear-gradient(top,  #0e83c8 0%,#0f84c9 1%,#0d82c7 1%,#0f84c9 2%,#2a9fe4 3%,#2ea1e4 5%,#2c9fe2 5%,#279add 15%,#2497da 23%,#2496dc 27%,#2095da 28%,#1e93d8 35%,#1b90d5 36%,#1d92d7 37%,#178cd1 46%,#1085ca 68%,#0e83c8 76%,#0e83c8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e83c8', endColorstr='#0e83c8',GradientType=0 );
}
.testimonials-holder .heading{
	background: url(../images/sep01.png) 0 50% repeat-x;
	margin:0 0 52px;
	text-align:center;
}

#main .heading h3{
	margin:0;
	display:inline-block;
	white-space:nowrap;
	text-shadow:none;
	padding:0 13px 0 0;
	overflow:hidden;
	color:#e6e6e6;
	font: 30px/34px Georgia, Times, serif;
	background:url(../images/bg-heading.png) 100% -60px no-repeat;
}
*+html #main .heading h3{display:inline;}
#main .heading h3 span{
	float:left;
	font-weight:normal;
	padding:11px 41px 15px;
	background:url(../images/bg-heading.png) no-repeat;
}
.column-holder{
	padding:0 0 72px;
	overflow:hidden;
	background:url(../images/bg-testimonials-holder.png) 0 100% repeat-x;
}
.testimonials-holder{
	/*background: url(../images/sep01.png) 0 100% repeat-x;*/
	padding:0 0 6px;
	margin:0 0 23px;
}
.testimonials-holder .column{
	float:left;
	width:230px;
	padding:0 48px 0 50px;
	background:url(../images/sep02.png) 2px 0 no-repeat;
}
.testimonials-holder .column img{ vertical-align:top; }
.testimonials-holder .column p.testimonial-text {
  line-height: 150%;
  padding: 30px 0 10px 0;
}

.testimonials-holder .column:first-child{background:none;}
#main h3{
	font-size:2.143em;
	line-height:1.066em;
	margin:0 0 22px;
	text-shadow: 1px 1px 1px #fff;
}

.testimonial-author {
  font-family: verdana;
}

.partners-holder{width:100%;}
.partners{
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	background:url(../images/bg-partners.png);
	overflow:hidden;
	box-shadow: 0 0 1px #b4afaf;
	-webkit-box-shadow: 0 0 1px #b4afaf;
	-moz-box-shadow: 0 0 1px #b4afaf;
	padding:23px 3px 19px;
	text-align:center;
	position:relative;
	margin:0 0 0 -2px;
}
.partners li{
	display:inline;
	vertical-align:middle;
	margin:0 20px;
}
.partners img{vertical-align:middle;}
#footer{
	margin:-1px 0 0;
	z-index:2;
	padding:26px 2px 30px 4px;
	color:#898e91;
	background:url(../images/sep01.png) repeat-x;
}
.bottom-nav{
	float:left;
	text-shadow: 1px 1px 1px #fff;
}
.bottom-nav li{
	float:left;
	padding:0 0 0 12px;
	margin:0 0 0 7px;
	background:url(../images/sep03.gif) 0 50% no-repeat;
}
.bottom-nav li:first-child{
	margin:0;
	padding:0;
	background:none;
}
.bottom-nav a{color:#898e91;}
.social-buttons{
	float:left;
	text-shadow: 1px 1px 1px #fff;
	white-space:nowrap;
}
.social-buttons .fb-like{
	top: -3px
}
.copy{
	float:right;
	text-shadow: 1px 1px 1px #fff;
	white-space:nowrap;
}
.copy a{
	color:#2e3133;
	text-decoration:underline;
}
.copy a:hover{text-decoration:none;}
@media only screen and (max-width: 1250px){
	.btn-github{display:none;}
}
body{-webkit-text-size-adjust:100%;}
