<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<a href="http://github.com/fluent/fluentd" class="btn-github">Fork me on GitHub</a>
<div id="wrapper">
  <header id="header">
    <h1 class="logo"><a href="/">Fluentd</a></h1>
    <div style="float: left; border: solid 0px; padding-left: 0px; padding-top:
      33px;">sponsored by <a href="http://go.treasuredata.com/fluentd"><img
        style="margin-bottom:0px"
        src="/images/treasure-logo-red.png" height="10px" /></a></div>
    <div class="top-holder">
      <ul>
        <li><a href="http://docs.fluentd.org/articles/architecture">Learn More</a></li>
        <li><a href="http://docs.fluentd.org/">Get Started</a></li>
        <li><a href="http://docs.fluentd.org/articles/community">Community</a></li>
        <li><a href="/plugin/">Plugins</a></li>
        <li><a href="http://github.com/fluent/fluentd">Source</a></li>
      </ul>
      <span class="social-buttons" style="margin-left:20px;">
        <iframe src="http://ghbtns.com/github-btn.html?user=fluent&repo=fluentd&type=watch&count=true"
         allowtransparency="true" frameborder="0" scrolling="0" width="110px"
         height="20px"></iframe>
      </span>
    </div>
  </header>
  <div id="main">
    <div class="main-holder">
      <img src="images/txt-type.png" width="436" height="280" alt="image description" class="txt-type" />
      <section class="text-holder">
        <h2>
            Set Up Once,<br/>
            Collect More
        </h2>
        <a href="http://docs.fluentd.org/articles/architecture" class="btn-look">Learn More</a>
        <a href="http://docs.fluentd.org/" class="btn-look-2">Get Started</a>
      </section>
    </div>
    <div class="text-box">
      <p>Fluentd is an open source data collector designed for processing data streams. 150+ plugins instantly enable you to store the data for Log Management, Big Data Analytics, etc. <a href="http://docs.fluentd.org/articles/architecture">Read More!</a>
    </div>
    <section class="testimonials-holder">
      <div class="column-holder">
        <table width="100%">
          <tr>
            <td class="testimonials-logo"><img alt="Nintendo"   class="logo-image" src="images/user_logo/nintendo.png"/ style="height:45px"></td>
            <td class="testimonials-logo"><img alt="AWS"        class="logo-image" src="images/user_logo/AWS.png"/></td>
            <td class="testimonials-logo"><img alt="SlideShare" class="logo-image" src="images/user_logo/Slideshare.png"/></td>
            <td class="testimonials-logo"><img alt="GREE"       class="logo-image" src="images/user_logo/GREE.png"/></td>
            <td class="testimonials-logo"><img alt="LINE"       class="logo-image" src="images/user_logo/LINE.png"/></td>
          </tr>
        </table>
      </div>
    </section>
    <table width="100%">
      <tr>
        <td>
    <section class="hacker-blurbs-holder">
      <h3 class="heading">
        By Hackers, For Hackers
      </h3>
      <div class="blurb description">
        <img height="95px" src="/images/matz.jpg"/>
        <p>&quot;Fluentd proves you can achieve programmer happiness and performance at the same time. A great example of Ruby beyond the Web.&quot; <br/><span style="font-size: 0.7em; font-style:italic">Yukihiro Matsumoto (Matz), creator of Ruby</span></p>
      </div>
      <div class="blurb description">
        <img height="95px" src="/images/adam-wiggins.jpg"/>          
        <p>&quot;Logs are streams, not files. I love that Fluentd puts this concept front-and-center, with a developer-friendly approach for distributed systems logging.&quot; <br/><span style="font-size:0.7em; font-style:italic">Adam Wiggins, Heroku co-founder</span></p>
      </div>      
    </section>
        </td>
        <td width="350px">
          <h3 class="heading">Featured Video</h3>
          <center>
<iframe src="//player.vimeo.com/video/87210603?title=0&amp;byline=0&amp;portrait=0" width="350" height="197" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/87210603">Sadayuki Furuhashi talks about<br/> Fluentd: Open Source Log Management</a><br/>at SF Metrics Meetup</p>
          </center>
        </td>
      </tr>
    </table>
    <center>
      <a href="http://docs.fluentd.org/articles/architecture" class="btn-look">Learn More</a><br /><br />
    </center>
  </div>
  
  <footer id="footer">
    <center>
    <span>
      <div class="fb-like" data-href="http://fluentd.org/" data-send="false" data-layout="button_count" data-width="110" data-show-faces="false"></div>
      <iframe src="http://ghbtns.com/github-btn.html?user=fluent&repo=fluentd&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="110px"
          height="20px"></iframe>
      <!--
      <a href="https://mixpanel.com/f/partner"><img src="https://mixpanel.com/site_media/images/partner/badge_light.png" alt="Mobile and Web Analytics" /></a>
      -->
    </span>
    </center>
  </footer>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-24890265-2']);
_gaq.push(['_setDomainName', 'fluentd.org']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<!-- Google Code for fluentd -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1009909590;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "5gEjCPL88wIQ1v7H4QM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009909590/?value=0&amp;label=5gEjCPL88wIQ1v7H4QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Pardot -->
<script type="text/javascript">
piAId = '25122';
piCId = '1030';
(function() {
function async_load(){
var s = document.createElement('script'); s.type = 'text/javascript';
s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
}
if(window.attachEvent) { window.attachEvent('onload', async_load); }
else { window.addEventListener('load', async_load, false); }
})();
</script>

<!-- testimonial action-->
<script>
$(document).ready(function(){
  $(".logo-image").hover(function(ev) {
    var src = $(this).attr('src');
    var company_name = $(this).attr('alt'); // this is exactly how not to use alt.
    var testimonial_text = $('#testimonial-' + company_name).html();
    $('#featured-logo').attr('src', src);
    $('#featured-testimonial').html(testimonial_text);
    var box_height = $('#featured-logo').parent().css('height').replace('px', '');
    var logo_height = $('#featured-logo').css('height').replace('px', '');
    var margin_top = Math.floor((box_height-logo_height)/2);
    $('#featured-logo').css('margin-top', margin_top+'px');
  });
})
</script>
