<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<a href="http://github.com/fluent/fluentd" class="btn-github">Fork me on GitHub</a>
<div id="wrapper">
  <header id="header">
    <h1 class="logo"><a href="/">Fluentd</a></h1>
    <div style="float: left; border: solid 0px; padding-left: 0px; padding-top:
      33px;">sponsored by <a href="http://go.treasuredata.com/fluentd"><img
        style="margin-bottom:0px"
        src="/images/treasure-logo-red.png" height="10px" /></a></div>
    <div class="top-holder">
      <ul>
        <li><a href="http://docs.fluentd.org/articles/architecture">Learn More</a></li>
        <li><a href="http://docs.fluentd.org/">Get Started</a></li>
        <li><a href="http://docs.fluentd.org/articles/community">Community</a></li>
        <li><a href="/plugin/">Plugins</a></li>
        <li><a href="http://github.com/fluent/fluentd">Source</a></li>
      </ul>
      <span class="social-buttons" style="margin-left:20px;">
        <iframe src="http://ghbtns.com/github-btn.html?user=fluent&repo=fluentd&type=watch&count=true"
         allowtransparency="true" frameborder="0" scrolling="0" width="110px"
         height="20px"></iframe>
      </span>
    </div>
  </header>
  <div id="main">
    <div class="main-holder">
      <img src="images/txt-type.png" width="436" height="280" alt="image description" class="txt-type" />
      <section class="text-holder">
        <h2>
            Set Up Once,<br/>
            Collect More
        </h2>
        <a href="http://docs.fluentd.org/articles/architecture" class="btn-look">Learn More</a>
        <a href="http://docs.fluentd.org/" class="btn-look-2">Get Started</a>
      </section>
    </div>
    <div class="text-box">
      <p>Fluentd is an open source data collector designed for processing high-volume data streams. 150+ plugins instantly enable you to store the data for Log Management, Big Data Analytics, and Archiving. <a href="http://docs.fluentd.org/articles/architecture">Read More!</a>
    </div>
    <section class="testimonials-holder">
      <div class="heading">
        <h3><span><strong>Fluentd in Production</strong></span></h3>
      </div>
      <div class="column-holder">
        <div class="column-left">
          <img style="margin-top:60px" id="featured-logo" src="images/user_logo/nintendo.png"/>
        </div>
        <div class="column-right">
          <p id="featured-testimonial" class="testimonial-text">
            &quot;We use Fluentd to collect massive data logs for our platforms. Having developed a system based on Fluentd, we are now effectively monitoring and analyzing our services in real-time. We are very much satisfied with its flexibility, especially how easy it is to use in tandem with other systems.&quot;
          </p>
        </div>
      </div>
      <div class="logo-container">
          <img alt="nintendo" class="logo-image" src="images/user_logo/nintendo.png"/>
          <img alt="slideshare" class="logo-image" src="images/user_logo/Slideshare.png"/>
          <img alt="gree" class="logo-image" src="images/user_logo/GREE.png"/>
          <img alt="aws" class="logo-image" src="images/user_logo/AWS.png"/>
          <img alt="line" class="logo-image" src="images/user_logo/LINE.png"/>
          <a style="float:right" href="http://docs.fluentd.org/articles/users">...and more!</a>
        </div>
      </div>
      <div style="display:none">
        <span id="testimonial-nintendo">
          &quot;We use Fluentd to collect massive data logs for our platforms. Having developed a system based on Fluentd, we are now effectively monitoring and analyzing our services in real-time. We are very much satisfied with its flexibility, especially how easy it is to use in tandem with other systems.&quot;
        </span>
        <span id="testimonial-slideshare">
          &quot;Slideshare uses Fluentd to stream logs and events in the cloud. We were looking for a versatile yet lightweight logger in Ruby, and Fluentd fit the bill perfectly.&quot;
          <br/>
          <span class="testimonial-author">Sylvain Kalache, Operations Engineer</span>
        </span>
        <span id="testimonial-gree">
          &quot;Data Science is at the core of GREE (TYO:3632)’s business, and it starts with logging user events and Advertisement related data. We currently deploy Fluentd for a number of our games and ad services to federate user event data, and use that data to inform our product decisions.&quot;
          <br/>
          <span class="testimonial-author">Masaki Fujimoto, CTO</span>
        </span>
        <span id="testimonial-aws">
          &quot;The architecture of Fluentd (Sponsored by Treasure Data) is very similar to Apache Flume or Facebook’s Scribe. Fluentd is easier to install and maintain and has better documentation and support than Flume and Scribe&quot;
          <br/>
          <span class="testimonial-author"><a href="http://media.amazonwebservices.com/AWS_Amazon_EMR_Best_Practices.pdf">Best Practices for Amazon EMR</a></span>
        </span>
        <span id="testimonial-line">
          &quot;We utilize Fluentd to collect a very large amount of logs. The logs are written into Hadoop HDFS clusters, and are also used to analyze various service statuses in realtime. We also use many plugins from rubygems.org to further enhance this mechanism.&quot;
          <br/>
          <span class="testimonial-author">Satoshi Tagomori, Software Engineer</span>
        </span>
      </div>
    </section>
  </div>
  <footer id="footer">
    <center>
    <span>
      <div class="fb-like" data-href="http://fluentd.org/" data-send="false" data-layout="button_count" data-width="110" data-show-faces="false"></div>
      <iframe src="http://ghbtns.com/github-btn.html?user=fluent&repo=fluentd&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="110px"
          height="20px"></iframe>
      <!--
      <a href="https://mixpanel.com/f/partner"><img src="https://mixpanel.com/site_media/images/partner/badge_light.png" alt="Mobile and Web Analytics" /></a>
      -->
    </span>
    </center>
  </footer>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-24890265-2']);
_gaq.push(['_setDomainName', 'fluentd.org']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<!-- Google Code for fluentd -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1009909590;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "5gEjCPL88wIQ1v7H4QM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009909590/?value=0&amp;label=5gEjCPL88wIQ1v7H4QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Pardot -->
<script type="text/javascript">
piAId = '25122';
piCId = '1030';
(function() {
function async_load(){
var s = document.createElement('script'); s.type = 'text/javascript';
s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
}
if(window.attachEvent) { window.attachEvent('onload', async_load); }
else { window.addEventListener('load', async_load, false); }
})();
</script>

<!-- testimonial action-->
<script>
$(document).ready(function(){
  $(".logo-image").hover(function(ev) {
    var src = $(this).attr('src');
    var company_name = $(this).attr('alt'); // this is exactly how not to use alt.
    var testimonial_text = $('#testimonial-' + company_name).html();
    $('#featured-logo').attr('src', src);
    $('#featured-testimonial').html(testimonial_text);
    var box_height = $('#featured-logo').parent().css('height').replace('px', '');
    var logo_height = $('#featured-logo').css('height').replace('px', '');
    var margin_top = Math.floor((box_height-logo_height)/2);
    $('#featured-logo').css('margin-top', margin_top+'px');
  });
})
</script>
