<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Fluentd plugins</title>

    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '#',
        VERSION:     '0.10.0',
        COLLAPSE_MODINDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <%= css :plugin %>
    <%= js :app %>
    <style type="text/css">
      div.body h2 {
        margin-top: 0.2em;
        line-height: 1.3em;
        font-size: 140%;
        border: none;
      }
      div.body a:hover {
        text-decoration: underline;
      }
      tr.even { background-color: #f0f0f0; } 
    </style>
    <script>
      $(document).ready(function() {
        $('#plugin-table').dataTable({
          "bPaginate": false,
          "aaSorting": [[4, "desc"]],
          "aoColumns": [null, null, null, null, null]
        });
        $('#plugin-table_filter input').attr('placeholder',
          'search for mongo, redis, etc...').css('width', '250px');
      });
    </script>
  </head>
  <body>
    <div class="related">
      <ul>
        <li><a href="/doc/">fluentd documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            <h2>Fluent Plugins</h2>
            <table id="plugin-table">
              <thead>
                <tr>
                  <th>Plugin Name</th>
                  <th>gem name &amp; version</th>
                  <th>Author</th>
                  <th>About</th>
                  <th># of Downloads</th>
                </tr>
              </thead>
              <tbody>
              
                <tr>
                  <td><a href="https://github.com/fluent/fluent-plugin-mongo">mongo</a></td>
                  <td><a href="https://github.com/fluent/fluent-plugin-mongo">fluent-plugin-mongo 0.7.0</a></td>
                  <td>Masahiro Nakagawa</td>
                  <td>MongoDB plugin for Fluent event collector</td>
                  <td>23089</td>
                </tr>
              
                <tr>
                  <td><a href="http://treasure-data.com/">td</a></td>
                  <td><a href="http://treasure-data.com/">fluent-plugin-td 0.10.15</a></td>
                  <td>Treasure Data, Inc.</td>
                  <td>Treasure Data Big Data as a Service plugin for Fluentd</td>
                  <td>13654</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/fluent/fluent-plugin-scribe">scribe</a></td>
                  <td><a href="https://github.com/fluent/fluent-plugin-scribe">fluent-plugin-scribe 0.10.10</a></td>
                  <td>Kazuki Ohta</td>
                  <td>Scribe Input/Output plugin for Fluentd event collector</td>
                  <td>13071</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/ixixi/fluent-plugin-couch">couch</a></td>
                  <td><a href="http://github.com/ixixi/fluent-plugin-couch">fluent-plugin-couch 0.6.0</a></td>
                  <td>Yudai Odagiri</td>
                  <td>CouchDB output plugin for Fluentd event collector</td>
                  <td>11115</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/fluent/fluent-plugin-s3">s3</a></td>
                  <td><a href="https://github.com/fluent/fluent-plugin-s3">fluent-plugin-s3 0.3.3</a></td>
                  <td>Sadayuki Furuhashi</td>
                  <td>Amazon S3 output plugin for Fluent event collector</td>
                  <td>9378</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/y-ken/fluent-plugin-rewrite-tag-filter">rewrite-tag-filter</a></td>
                  <td><a href="https://github.com/y-ken/fluent-plugin-rewrite-tag-filter">fluent-plugin-rewrite-tag-filter 1.3.1</a></td>
                  <td>Kentaro Yoshida</td>
                  <td>Fluentd Output filter plugin. It has designed to rewrite tag like mod_rewrite. Re-emmit a record with rewrited tag when a value matches/unmatches with the regular expression. Also you can change a tag from apache log by domain, status-code(ex. 500 error), user-agent, request-uri, regex-backreference and so on with regular expression.</td>
                  <td>8501</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-flowcounter">flowcounter</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-flowcounter">fluent-plugin-flowcounter 0.1.8</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>Plugin to counts messages/bytes that matches, per minutes/hours/days</td>
                  <td>8494</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-datacounter">datacounter</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-datacounter">fluent-plugin-datacounter 0.4.1</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>Output filter plugin to count messages that matches specified conditions</td>
                  <td>7969</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/kentaro/fluent-plugin-rewrite">rewrite</a></td>
                  <td><a href="http://github.com/kentaro/fluent-plugin-rewrite">fluent-plugin-rewrite 0.0.10</a></td>
                  <td>Kentaro Kuribayashi</td>
                  <td>Fluentd plugin to rewrite tags/values along with pattern matching and re-emit them.</td>
                  <td>7818</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-forest">forest</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-forest">fluent-plugin-forest 0.1.4</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>create sub-plugin dynamically per tags, with template configuration and parameters</td>
                  <td>6827</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-growthforecast">growthforecast</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-growthforecast">fluent-plugin-growthforecast 0.2.2</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>For GrowthForecast, see http://kazeburo.github.com/GrowthForecast/</td>
                  <td>6589</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/fluent/fluent-plugin-webhdfs">webhdfs</a></td>
                  <td><a href="https://github.com/fluent/fluent-plugin-webhdfs">fluent-plugin-webhdfs 0.2.1</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>For WebHDFS and HttpFs of Hadoop HDFS</td>
                  <td>6292</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/shirou/fluent-plugin-pghstore">pghstore</a></td>
                  <td><a href="https://github.com/shirou/fluent-plugin-pghstore">fluent-plugin-pghstore 0.2.2</a></td>
                  <td>WAKAYAMA Shirou</td>
                  <td>Output to PostgreSQL database which has a hstore extension</td>
                  <td>5072</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-file-alternative">file-alternative</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-file-alternative">fluent-plugin-file-alternative 0.1.4</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>alternative implementation of out_file, with various configurations</td>
                  <td>4948</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/shun0102/fluent-plugin-dstat">dstat</a></td>
                  <td><a href="http://github.com/shun0102/fluent-plugin-dstat">fluent-plugin-dstat 0.2.3</a></td>
                  <td>Shunsuke Mikami</td>
                  <td>Dstat Input plugin for Fluent event collector</td>
                  <td>4891</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-config-expander">config-expander</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-config-expander">fluent-plugin-config-expander 0.1.3</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>This plugin provides directives for loop extraction</td>
                  <td>4571</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-parser">parser</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-parser">fluent-plugin-parser 0.2.3</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>fluentd plugin to parse single field, or to combine log structure into single field</td>
                  <td>4047</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-numeric-monitor">numeric-monitor</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-numeric-monitor">fluent-plugin-numeric-monitor 0.1.5</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>Fluentd plugin to calculate min/max/avg/Xpercentile values, and emit these data as message</td>
                  <td>3718</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/takei-yuya/fluent-plugin-growl">growl</a></td>
                  <td><a href="https://github.com/takei-yuya/fluent-plugin-growl">fluent-plugin-growl 0.0.5</a></td>
                  <td>TAKEI Yuya</td>
                  <td>Growl output plugin for Fluent Event Collector</td>
                  <td>3559</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-ping-message">ping-message</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-ping-message">fluent-plugin-ping-message 0.1.0</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>for heartbeat monitoring of Fluentd processes</td>
                  <td>3479</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/fluent/fluent-plugin-hoop">hoop</a></td>
                  <td><a href="https://github.com/fluent/fluent-plugin-hoop">fluent-plugin-hoop 0.1.4</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>This plugin doesn't support Apache Hadoop's HttpFs. See fluent-plugin-webhdfs.</td>
                  <td>3287</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/yuki24/fluent-plugin-redis">redis</a></td>
                  <td><a href="http://github.com/yuki24/fluent-plugin-redis">fluent-plugin-redis 0.2.0</a></td>
                  <td>Yuki Nishijima</td>
                  <td>Redis output plugin for Fluent</td>
                  <td>3243</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/ixixi/fluent-plugin-sns">sns</a></td>
                  <td><a href="https://github.com/ixixi/fluent-plugin-sns">fluent-plugin-sns 0.2.3</a></td>
                  <td>Yudai Odagiri</td>
                  <td>Amazon SNS output plugin for Fluent event collector</td>
                  <td>3143</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/muddydixon/fluent-plugin-datacalculator">datacalculator</a></td>
                  <td><a href="https://github.com/muddydixon/fluent-plugin-datacalculator">fluent-plugin-datacalculator 0.0.5</a></td>
                  <td>Muddy Dixon</td>
                  <td>Output filter plugin to calculate messages that matches specified conditions</td>
                  <td>3089</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/y-ken/fluent-plugin-munin">munin</a></td>
                  <td><a href="https://github.com/y-ken/fluent-plugin-munin">fluent-plugin-munin 0.3.2</a></td>
                  <td>Kentaro Yoshida</td>
                  <td>Fluentd Input plugin to fetch munin-node metrics data with custom intervals. It supports all of munin plugins.</td>
                  <td>3050</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/ixixi/fluent-plugin-sqs">sqs</a></td>
                  <td><a href="https://github.com/ixixi/fluent-plugin-sqs">fluent-plugin-sqs 0.2.3</a></td>
                  <td>Yudai Odagiri</td>
                  <td>Amazon SQS output plugin for Fluent event collector</td>
                  <td>3000</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/tjun/fluent-plugin-kestrel">kestrel</a></td>
                  <td><a href="http://github.com/tjun/fluent-plugin-kestrel">fluent-plugin-kestrel 0.2.2</a></td>
                  <td>Junichiro Takagi</td>
                  <td>fluentd input/output plugin for kestrel queue.</td>
                  <td>2957</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-numeric-counter">numeric-counter</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-numeric-counter">fluent-plugin-numeric-counter 0.2.1</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>Counts messages, with specified key and numeric value in specified range</td>
                  <td>2920</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tomity/fluent-plugin-map">map</a></td>
                  <td><a href="https://github.com/tomity/fluent-plugin-map">fluent-plugin-map 0.0.4</a></td>
                  <td>Kohei Tomita</td>
                  <td>fluent-plugin-map is the non-buffered plugin that can convert an event log to different event log(s).  </td>
                  <td>2911</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-notifier">notifier</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-notifier">fluent-plugin-notifier 0.2.1</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>check matched messages and emit alert message with throttling by conditions...</td>
                  <td>2789</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/parolkar/fluent-plugin-http-enhanced">http-enhanced</a></td>
                  <td><a href="https://github.com/parolkar/fluent-plugin-http-enhanced">fluent-plugin-http-enhanced 0.0.4</a></td>
                  <td>Abhishek Parolkar</td>
                  <td>Enhanced HTTP input plugin for Fluent event collector</td>
                  <td>2673</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/tagomoris/fluent-plugin-sampling-filter">sampling-filter</a></td>
                  <td><a href="http://github.com/tagomoris/fluent-plugin-sampling-filter">fluent-plugin-sampling-filter 0.1.2</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>fluentd plugin to pickup sample data from matched massages</td>
                  <td>2544</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/gonsuke/fluent-plugin-dynamodb">dynamodb</a></td>
                  <td><a href="https://github.com/gonsuke/fluent-plugin-dynamodb">fluent-plugin-dynamodb 0.1.9</a></td>
                  <td>Takashi Matsuno</td>
                  <td>Amazon DynamoDB output plugin for Fluent event collector</td>
                  <td>2435</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-mysql">mysql</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-mysql">fluent-plugin-mysql 0.0.4</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>fluent plugin to insert mysql as json(single column) or insert statement</td>
                  <td>2414</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/kentaro/fluent-plugin-flatten">flatten</a></td>
                  <td><a href="http://github.com/kentaro/fluent-plugin-flatten">fluent-plugin-flatten 0.0.7</a></td>
                  <td>Kentaro Kuribayashi</td>
                  <td>Fluentd plugin to extract values for nested key paths and re-emit them as flat tag/record pairs.</td>
                  <td>2356</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/tagomoris/fluent-plugin-amplifier-filter">amplifier-filter</a></td>
                  <td><a href="http://github.com/tagomoris/fluent-plugin-amplifier-filter">fluent-plugin-amplifier-filter 0.1.4</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>plugin to increase/decrease values by specified ratio (0-1 or 1-)</td>
                  <td>2333</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/muga/fluent-plugin-flume">flume</a></td>
                  <td><a href="https://github.com/muga/fluent-plugin-flume">fluent-plugin-flume 0.1.1</a></td>
                  <td>Muga Nishizawa</td>
                  <td>Flume Input/Output plugin for Fluentd event collector</td>
                  <td>2328</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/oza/fluent-plugin-zmq">zmq</a></td>
                  <td><a href="https://github.com/oza/fluent-plugin-zmq">fluent-plugin-zmq 0.0.3</a></td>
                  <td>OZAWA Tsuyoshi</td>
                  <td>zmq plugin for fluent, an event collector</td>
                  <td>2223</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/kbinani/fluent-plugin-redis-counter">redis-counter</a></td>
                  <td><a href="https://github.com/kbinani/fluent-plugin-redis-counter">fluent-plugin-redis-counter 0.3.1</a></td>
                  <td>Buntaro Okada</td>
                  <td>fluent-plugin-redis-counter is a fluent plugin to count-up/down redis keys.</td>
                  <td>2220</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/obieq/fluent-plugin-cassandra-cql">cassandra-cql</a></td>
                  <td><a href="http://github.com/obieq/fluent-plugin-cassandra-cql">fluent-plugin-cassandra-cql 0.0.5</a></td>
                  <td>obie quelland</td>
                  <td>Fluent output plugin for Cassandra via CQL version 3.0.0</td>
                  <td>2169</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/k24d/fluent-plugin-splunkapi">splunkapi</a></td>
                  <td><a href="https://github.com/k24d/fluent-plugin-splunkapi">fluent-plugin-splunkapi 0.1.5</a></td>
                  <td>Keisuke Nishida</td>
                  <td>Splunk output plugin for Fluent event collector.  This plugin supports Splunk REST API and Splunk Storm API.</td>
                  <td>2144</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/yteraoka/fluent-plugin-tail-asis">tail-asis</a></td>
                  <td><a href="https://github.com/yteraoka/fluent-plugin-tail-asis">fluent-plugin-tail-asis 0.0.3</a></td>
                  <td>TERAOKA Yoshinori</td>
                  <td>fluentd input plugin, whole line read into single key, no regexp used, fast</td>
                  <td>2132</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/hotchpotch/fluent-plugin-resque">resque</a></td>
                  <td><a href="https://github.com/hotchpotch/fluent-plugin-resque">fluent-plugin-resque 0.2.1</a></td>
                  <td>Yuichi Tateno</td>
                  <td>Resque enqueue plugin</td>
                  <td>2068</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/yosisa/fluent-plugin-tail-ex">tail-ex</a></td>
                  <td><a href="https://github.com/yosisa/fluent-plugin-tail-ex">fluent-plugin-tail-ex 0.1.0</a></td>
                  <td>Yoshihisa Tanaka</td>
                  <td>Extended tail input plugin</td>
                  <td>2032</td>
                </tr>
              
                <tr>
                  <td><a href="">snmp</a></td>
                  <td><a href="">fluent-plugin-snmp 0.0.8</a></td>
                  <td>hiro-su</td>
                  <td>Input plugin to snmp</td>
                  <td>1943</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/achied/fluent-plugin-nats">nats</a></td>
                  <td><a href="https://github.com/achied/fluent-plugin-nats">fluent-plugin-nats 0.0.5</a></td>
                  <td>Eduardo Aceituno</td>
                  <td>nats plugin for fluentd, an event collector</td>
                  <td>1921</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/y-ken/fluent-plugin-mysql-query">mysql-query</a></td>
                  <td><a href="https://github.com/y-ken/fluent-plugin-mysql-query">fluent-plugin-mysql-query 0.2.2</a></td>
                  <td>Kentaro Yoshida</td>
                  <td>Fluentd Input plugin to execute mysql query for stationary measurement.</td>
                  <td>1867</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/sonots/fluent-plugin-keep-forward">keep-forward</a></td>
                  <td><a href="https://github.com/sonots/fluent-plugin-keep-forward">fluent-plugin-keep-forward 0.0.4</a></td>
                  <td>Naotoshi SEO</td>
                  <td>out_foward extension to keep forwarding to a node</td>
                  <td>1837</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/y-ken/fluent-plugin-gamobile">gamobile</a></td>
                  <td><a href="https://github.com/y-ken/fluent-plugin-gamobile">fluent-plugin-gamobile 0.2.2</a></td>
                  <td>Kentaro Yoshida</td>
                  <td>Fluentd Output plugin to send access report with "Google Analytics for mobile".</td>
                  <td>1793</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/tomohisaota/fluent-plugin-forward-aws">forward-aws</a></td>
                  <td><a href="http://github.com/tomohisaota/fluent-plugin-forward-aws">fluent-plugin-forward-aws 0.1.7</a></td>
                  <td>Tomohisa Ota</td>
                  <td>Fluentd In/Out plugin to forward log through AWS(S3/SNS/SQS)</td>
                  <td>1779</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-ikachan">ikachan</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-ikachan">fluent-plugin-ikachan 0.2.2</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>output plugin for IRC-HTTP gateway 'ikachan' (see: https://metacpan.org/module/ikachan and (jpn) http://blog.yappo.jp/yappo/archives/000760.html)</td>
                  <td>1582</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/tomitakazutaka/fluent-plugin-cassandra">cassandra</a></td>
                  <td><a href="http://github.com/tomitakazutaka/fluent-plugin-cassandra">fluent-plugin-cassandra 0.0.2</a></td>
                  <td>Kazutaka Tomita</td>
                  <td>Cassandra output plugin for Fluent event collector</td>
                  <td>1559</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/parolkar/fluent-plugin-splunk">splunk</a></td>
                  <td><a href="https://github.com/parolkar/fluent-plugin-splunk">fluent-plugin-splunk 0.0.1.1</a></td>
                  <td>Abhishek Parolkar</td>
                  <td>Splunk output plugin for Fluent event collector</td>
                  <td>1553</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tomity/fluent-plugin-select">select</a></td>
                  <td><a href="https://github.com/tomity/fluent-plugin-select">fluent-plugin-select 0.0.3.1</a></td>
                  <td>Kohei Tomita</td>
                  <td>fluent-plugin-select is the non-buffered plugin that can be filtered by ruby script. </td>
                  <td>1466</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/SpringMT/fluent-plugin-resque_stat">resque_stat</a></td>
                  <td><a href="https://github.com/SpringMT/fluent-plugin-resque_stat">fluent-plugin-resque_stat 0.0.5</a></td>
                  <td>Spring_MT</td>
                  <td>Fluent input plugin for Resque info
</td>
                  <td>1450</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/y-ken/fluent-plugin-twitter">twitter</a></td>
                  <td><a href="https://github.com/y-ken/fluent-plugin-twitter">fluent-plugin-twitter 0.2.2</a></td>
                  <td>Kentaro Yoshida</td>
                  <td>Fluentd Input/Output plugin to process tweets with Twitter Streaming API.</td>
                  <td>1441</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/treasure-data/fluent-plugin-metricsense">metricsense</a></td>
                  <td><a href="https://github.com/treasure-data/fluent-plugin-metricsense">fluent-plugin-metricsense 0.2.1</a></td>
                  <td>Sadayuki Furuhashi</td>
                  <td>MetricSense - application metrics aggregation plugin for Fluentd</td>
                  <td>1426</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/taka84u9/fluent-plugin-mysqlslowquery">mysqlslowquery</a></td>
                  <td><a href="https://github.com/taka84u9/fluent-plugin-mysqlslowquery">fluent-plugin-mysqlslowquery 0.0.2</a></td>
                  <td>taka84u9</td>
                  <td>Fluent input plugin for MySQL slow query log file.</td>
                  <td>1415</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/todesking/fluent-plugin-jabber">jabber</a></td>
                  <td><a href="https://github.com/todesking/fluent-plugin-jabber">fluent-plugin-jabber 0.4.0</a></td>
                  <td>todesking</td>
                  <td>Fluentd output plugin for XMPP(Jabber) protocol</td>
                  <td>1399</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/makimoto/fluent-plugin-say">say</a></td>
                  <td><a href="http://github.com/makimoto/fluent-plugin-say">fluent-plugin-say 0.1.1</a></td>
                  <td>Shimpei Makimoto</td>
                  <td>Fluentd output plugin to say something by using 'say' command</td>
                  <td>1357</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/y-ken/fluent-plugin-boundio">boundio</a></td>
                  <td><a href="https://github.com/y-ken/fluent-plugin-boundio">fluent-plugin-boundio 0.1.1</a></td>
                  <td>Kentaro Yoshida</td>
                  <td>Fluentd Output plugin to make a call with boundio by KDDI. This Multilingual speech synthesis system uses VoiceText.</td>
                  <td>1343</td>
                </tr>
              
                <tr>
                  <td><a href="">http-status</a></td>
                  <td><a href="">fluent-plugin-http-status 0.0.4</a></td>
                  <td>hiro-su</td>
                  <td>Fluentd input plugin for to get the http status</td>
                  <td>1309</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/fujiwara/fluent-plugin-zabbix">zabbix</a></td>
                  <td><a href="https://github.com/fujiwara/fluent-plugin-zabbix">fluent-plugin-zabbix 0.0.1</a></td>
                  <td>FUJIWARA Shunichiro</td>
                  <td>Output data plugin to Zabbix</td>
                  <td>1308</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/yunomu/fluent-plugin-cloudwatch">cloudwatch</a></td>
                  <td><a href="https://github.com/yunomu/fluent-plugin-cloudwatch">fluent-plugin-cloudwatch 1.2.3</a></td>
                  <td>Yusuke Nomura, kenjiskywalker</td>
                  <td>Input plugin for AWS CloudWatch.</td>
                  <td>1300</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/hotchpotch/fluent-plugin-hipchat">hipchat</a></td>
                  <td><a href="https://github.com/hotchpotch/fluent-plugin-hipchat">fluent-plugin-hipchat 0.1.1</a></td>
                  <td>Yuichi Tateno</td>
                  <td>fluent HipChat plugin</td>
                  <td>1300</td>
                </tr>
              
                <tr>
                  <td><a href="">librato-metrics</a></td>
                  <td><a href="">fluent-plugin-librato-metrics 0.2.3</a></td>
                  <td>Sadayuki Furuhashi</td>
                  <td>Librato metrics output plugin for Fluent event collector</td>
                  <td>1298</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/uken/fluent-plugin-elasticsearch">elasticsearch</a></td>
                  <td><a href="https://github.com/uken/fluent-plugin-elasticsearch">fluent-plugin-elasticsearch 0.1.2</a></td>
                  <td>diogo, pitr</td>
                  <td>ElasticSearch output plugin for Fluent event collector</td>
                  <td>1285</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/u-ichi/fluent-plugin-mail">mail</a></td>
                  <td><a href="https://github.com/u-ichi/fluent-plugin-mail">fluent-plugin-mail 0.0.2</a></td>
                  <td>Yuichi UEMURA</td>
                  <td>output plugin for Mail</td>
                  <td>1251</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/fluent/fluent-plugin-msgpack-rpc">msgpack-rpc</a></td>
                  <td><a href="https://github.com/fluent/fluent-plugin-msgpack-rpc">fluent-plugin-msgpack-rpc 0.3.0</a></td>
                  <td>Nobuyuki Kubota</td>
                  <td>Input plugin for Fluent using MessagePack-RPC</td>
                  <td>1238</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/kentaro/fluent-plugin-extract_query_params">extract_query_params</a></td>
                  <td><a href="http://github.com/kentaro/fluent-plugin-extract_query_params">fluent-plugin-extract_query_params 0.0.5</a></td>
                  <td>Kentaro Kuribayashi</td>
                  <td>Fluentd plugin to extract key/values from URL query parameters.</td>
                  <td>1161</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/Furyu/fluent-plugin-hbase">hbase</a></td>
                  <td><a href="https://github.com/Furyu/fluent-plugin-hbase">fluent-plugin-hbase 0.1.2</a></td>
                  <td>KUOKA Yusuke</td>
                  <td>HBase output plugin for Fluent event collector</td>
                  <td>1151</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/sonots/fluent-plugin-grep">grep</a></td>
                  <td><a href="https://github.com/sonots/fluent-plugin-grep">fluent-plugin-grep 0.0.3</a></td>
                  <td>Naotoshi SEO</td>
                  <td>fluentd plugin to grep messages</td>
                  <td>1087</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/sonots/fluent-plugin-grepcounter">grepcounter</a></td>
                  <td><a href="https://github.com/sonots/fluent-plugin-grepcounter">fluent-plugin-grepcounter 0.1.4</a></td>
                  <td>Naotoshi SEO</td>
                  <td>Count the number of matched messages</td>
                  <td>1079</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/giraffi/fluent-plugin-amqp">amqp</a></td>
                  <td><a href="http://github.com/giraffi/fluent-plugin-amqp">fluent-plugin-amqp 0.1.0</a></td>
                  <td>Hiromi Ishii, Team Giraffi, HiganWorks LLC</td>
                  <td>AMQP input/output plugin for fluentd</td>
                  <td>1058</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/fujiwara/fluent-plugin-suppress">suppress</a></td>
                  <td><a href="https://github.com/fujiwara/fluent-plugin-suppress">fluent-plugin-suppress 0.0.3</a></td>
                  <td>FUJIWARA Shunichiro</td>
                  <td>Fluentd plugin to suppress same messages</td>
                  <td>1050</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/cads/fluent-plugin-time_parser">time_parser</a></td>
                  <td><a href="http://github.com/cads/fluent-plugin-time_parser">fluent-plugin-time_parser 0.0.6</a></td>
                  <td>Carlos Donderis, Michael H. Oshita</td>
                  <td>Fluentd plugin to parse the time parameter.</td>
                  <td>1044</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/muddydixon/fluent-plugin-anomalydetect">anomalydetect</a></td>
                  <td><a href="https://github.com/muddydixon/fluent-plugin-anomalydetect">fluent-plugin-anomalydetect 0.1.0</a></td>
                  <td>Muddy Dixon</td>
                  <td>detect anomal sequential input casually</td>
                  <td>1028</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/katsyoshi/fluent-plugin-serialport">serialport</a></td>
                  <td><a href="https://github.com/katsyoshi/fluent-plugin-serialport">fluent-plugin-serialport 0.0.2</a></td>
                  <td>MATSUMOTO Katsuyoshi</td>
                  <td>fluentd plugin for serial port</td>
                  <td>1023</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/choplin/fluent-plugin-irc">irc</a></td>
                  <td><a href="https://github.com/choplin/fluent-plugin-irc">fluent-plugin-irc 0.0.3</a></td>
                  <td>OKUNO Akihiro</td>
                  <td>Output plugin for IRC</td>
                  <td>927</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/muddydixon/fluent-plugin-filter">filter</a></td>
                  <td><a href="https://github.com/muddydixon/fluent-plugin-filter">fluent-plugin-filter 0.0.1</a></td>
                  <td>Muddy Dixon</td>
                  <td>Simple output filter</td>
                  <td>917</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/parolkar/fluent-plugin-udp">udp</a></td>
                  <td><a href="https://github.com/parolkar/fluent-plugin-udp">fluent-plugin-udp 0.0.1</a></td>
                  <td>Abhishek Parolkar</td>
                  <td>This input plugin allows you to collect incoming events over UDP instead of TCP</td>
                  <td>874</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/SpringMT/fluent-plugin-ses">ses</a></td>
                  <td><a href="https://github.com/SpringMT/fluent-plugin-ses">fluent-plugin-ses 0.0.4</a></td>
                  <td>Spring_MT</td>
                  <td>Fluent output plugin for AWS SES
</td>
                  <td>848</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/tomohisaota/fluent-plugin-tail-multiline">tail-multiline</a></td>
                  <td><a href="http://github.com/tomohisaota/fluent-plugin-tail-multiline">fluent-plugin-tail-multiline 0.1.2</a></td>
                  <td>Tomohisa Ota</td>
                  <td>Extend tail plugin to support log with multiple line</td>
                  <td>841</td>
                </tr>
              
                <tr>
                  <td><a href="http://suz-lab.github.com/fluent-plugin-cloudwatch_ya/">cloudwatch_ya</a></td>
                  <td><a href="http://suz-lab.github.com/fluent-plugin-cloudwatch_ya/">fluent-plugin-cloudwatch_ya 0.0.2</a></td>
                  <td>suz-lab</td>
                  <td>Yet Another (Input/Output) Plugin for Amazon CloudWatch</td>
                  <td>840</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/repeatedly/fluent-plugin-record-modifier">record-modifier</a></td>
                  <td><a href="https://github.com/repeatedly/fluent-plugin-record-modifier">fluent-plugin-record-modifier 0.1.1</a></td>
                  <td>Masahiro Nakagawa</td>
                  <td>Output filter plugin for modifying each event record</td>
                  <td>820</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/yteraoka/fluent-plugin-dbi">dbi</a></td>
                  <td><a href="https://github.com/yteraoka/fluent-plugin-dbi">fluent-plugin-dbi 0.0.3</a></td>
                  <td>TERAOKA Yoshinori</td>
                  <td>fluentd output plugin using dbi. PostgreSQL and MySQL are tested</td>
                  <td>808</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/sonots/fluent-plugin-record-reformer">record-reformer</a></td>
                  <td><a href="https://github.com/sonots/fluent-plugin-record-reformer">fluent-plugin-record-reformer 0.0.1</a></td>
                  <td>Naotoshi Seo</td>
                  <td>Output filter plugin for reforming each event record</td>
                  <td>797</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-secure-forward">secure-forward</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-secure-forward">fluent-plugin-secure-forward 0.1.3</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>Testing version</td>
                  <td>784</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/btigit/fluent-plugin-solr">solr</a></td>
                  <td><a href="http://github.com/btigit/fluent-plugin-solr">fluent-plugin-solr 0.1.1</a></td>
                  <td>Nobutaka Nakazawa</td>
                  <td>Solr output plugin for Fluent event collector</td>
                  <td>782</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/sparkle/fluent-plugin-sndacs">sndacs</a></td>
                  <td><a href="https://github.com/sparkle/fluent-plugin-sndacs">fluent-plugin-sndacs 0.0.3</a></td>
                  <td>Sparkle</td>
                  <td>Sndacs output plugin for Fluent event collector</td>
                  <td>778</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/kenjikaneko/fluent-plugin-access">access</a></td>
                  <td><a href="https://github.com/kenjikaneko/fluent-plugin-access">fluent-plugin-access 0.0.2</a></td>
                  <td>kkaneko</td>
                  <td>filtreing access log</td>
                  <td>760</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/chobie/fluent-plugin-delayed">delayed</a></td>
                  <td><a href="http://github.com/chobie/fluent-plugin-delayed">fluent-plugin-delayed 0.0.1</a></td>
                  <td>Shuhei Tanuma</td>
                  <td>Delayed output plugin for Fluent event collector</td>
                  <td>748</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tiwakawa/fluent-plugin-df">df</a></td>
                  <td><a href="https://github.com/tiwakawa/fluent-plugin-df">fluent-plugin-df 0.0.5</a></td>
                  <td>tiwakawa</td>
                  <td>Df input plugin for Fluent event collector</td>
                  <td>748</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/todesking/fluent-plugin-gree_community">gree_community</a></td>
                  <td><a href="https://github.com/todesking/fluent-plugin-gree_community">fluent-plugin-gree_community 0.0.3</a></td>
                  <td>todesking</td>
                  <td>Fluentd input plugin, source from GREE community</td>
                  <td>725</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-woothee">woothee</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-woothee">fluent-plugin-woothee 0.0.2</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>parsing by Project Woothee. See https://github.com/tagomoris/woothee </td>
                  <td>724</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/groonga/fluent-plugin-groonga">groonga</a></td>
                  <td><a href="https://github.com/groonga/fluent-plugin-groonga">fluent-plugin-groonga 1.0.1</a></td>
                  <td>Kouhei Sutou</td>
                  <td>Groonga users can replicate their data by fluent-plugin-groonga</td>
                  <td>709</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/MasayukiMiyake97/fluent-plugin-jvmwatcher.git">jvmwatcher</a></td>
                  <td><a href="https://github.com/MasayukiMiyake97/fluent-plugin-jvmwatcher.git">fluent-plugin-jvmwatcher 0.1.5</a></td>
                  <td>MasayukiMiyake</td>
                  <td>It is the input plugin of fluentd which collects the condition of Java VM.</td>
                  <td>706</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/obieq/fluent-plugin-couchbase">couchbase</a></td>
                  <td><a href="http://github.com/obieq/fluent-plugin-couchbase">fluent-plugin-couchbase 0.0.2</a></td>
                  <td>obie quelland</td>
                  <td>Fluent output plugin for Couchbase 2.0</td>
                  <td>703</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/studio3104/fluent-plugin-mysqlslowquerylog">mysqlslowquerylog</a></td>
                  <td><a href="https://github.com/studio3104/fluent-plugin-mysqlslowquerylog">fluent-plugin-mysqlslowquerylog 0.0.2</a></td>
                  <td>Satoshi SUZUKI</td>
                  <td>Fluentd plugin to concat MySQL slowquerylog.</td>
                  <td>699</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/YasuOza/fluent-plugin-uri_decoder">uri_decoder</a></td>
                  <td><a href="https://github.com/YasuOza/fluent-plugin-uri_decoder">fluent-plugin-uri_decoder 0.2.0</a></td>
                  <td>Yasuharu Ozaki</td>
                  <td>Fluent plugin to decode uri encoded value. See more https://github.com/YasuOza/fluent-plugin-uri_decoder</td>
                  <td>679</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/choplin/fluent-plugin-pgjson">pgjson</a></td>
                  <td><a href="https://github.com/choplin/fluent-plugin-pgjson">fluent-plugin-pgjson 0.0.3</a></td>
                  <td>OKUNO Akihiro</td>
                  <td></td>
                  <td>649</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/fukata/fluent-plugin-hostname">hostname</a></td>
                  <td><a href="https://github.com/fukata/fluent-plugin-hostname">fluent-plugin-hostname 0.0.2</a></td>
                  <td>Tatsuya Fukata</td>
                  <td>Fluentd plugin put the hostname in the data</td>
                  <td>635</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/taka84u9/fluent-plugin-tagfile">tagfile</a></td>
                  <td><a href="https://github.com/taka84u9/fluent-plugin-tagfile">fluent-plugin-tagfile 0.0.1</a></td>
                  <td>taka84u9</td>
                  <td>Fluent output plugin to handle output directory by source host using events tag.</td>
                  <td>623</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/kuenishi/fluent-plugin-riak">riak</a></td>
                  <td><a href="https://github.com/kuenishi/fluent-plugin-riak">fluent-plugin-riak 0.0.2</a></td>
                  <td>Kota UENISHI</td>
                  <td>Riak plugin for Fluent event collector</td>
                  <td>589</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tmtk75/fluent-plugin-sqlite3.git">sqlite3</a></td>
                  <td><a href="https://github.com/tmtk75/fluent-plugin-sqlite3.git">fluent-plugin-sqlite3 0.1.0</a></td>
                  <td>Tomotaka Sakuma</td>
                  <td>fluentd output to sqlite3</td>
                  <td>586</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-delay-inspector">delay-inspector</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-delay-inspector">fluent-plugin-delay-inspector 0.0.2</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>Inspect delay of log, and emit it, or inject it into message itself with specified attribute name</td>
                  <td>569</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/sonots/fluent-plugin-calc">calc</a></td>
                  <td><a href="https://github.com/sonots/fluent-plugin-calc">fluent-plugin-calc 0.0.3</a></td>
                  <td>Naotoshi SEO</td>
                  <td>fluentd plugin to calc messages</td>
                  <td>558</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/sunny4381/fluent-plugin-zabbix-simple">zabbix-simple</a></td>
                  <td><a href="https://github.com/sunny4381/fluent-plugin-zabbix-simple">fluent-plugin-zabbix-simple 1.0.0</a></td>
                  <td>NAKANO Hideo</td>
                  <td>Output data plugin to Zabbix</td>
                  <td>553</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/naoya/fluent-plugin-config_pit">config_pit</a></td>
                  <td><a href="https://github.com/naoya/fluent-plugin-config_pit">fluent-plugin-config_pit 0.0.2</a></td>
                  <td>Naoya Ito</td>
                  <td>This plugin provides directive for pit</td>
                  <td>549</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-route">route</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-route">fluent-plugin-route 0.1.1</a></td>
                  <td>TAGOMORI Satoshi, FURUHASHI Sadayuki</td>
                  <td>This is copy of out_route.rb originally written by frsyuki</td>
                  <td>541</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/TatsuhitoMuramatsu/fluent-plugin-kanicounter">kanicounter</a></td>
                  <td><a href="https://github.com/TatsuhitoMuramatsu/fluent-plugin-kanicounter">fluent-plugin-kanicounter 0.0.1</a></td>
                  <td>tatsuhito</td>
                  <td>kanicounter</td>
                  <td>539</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/fujiwara/fluent-plugin-imkayac">imkayac</a></td>
                  <td><a href="https://github.com/fujiwara/fluent-plugin-imkayac">fluent-plugin-imkayac 0.0.1</a></td>
                  <td>FUJIWARA Shunichiro</td>
                  <td>fluentd plugin output to im.kayac.com</td>
                  <td>536</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/achied/fluent-plugin-fnordmetric">fnordmetric</a></td>
                  <td><a href="https://github.com/achied/fluent-plugin-fnordmetric">fluent-plugin-fnordmetric 0.0.1</a></td>
                  <td>Eduardo Aceituno</td>
                  <td>fnordmetric plugin for fluent, an event collector</td>
                  <td>530</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/patant/fluent-plugin-loggly">loggly</a></td>
                  <td><a href="https://github.com/patant/fluent-plugin-loggly">fluent-plugin-loggly 0.0.1</a></td>
                  <td>Patrik Antonsson</td>
                  <td>Fluentd pluging (fluentd.org) for output to loggly (loggly.com)</td>
                  <td>527</td>
                </tr>
              
                <tr>
                  <td><a href="">kafka</a></td>
                  <td><a href="">fluent-plugin-kafka 0.0.1</a></td>
                  <td>kiyoto</td>
                  <td>Fluentd plugin for Apache Kafka</td>
                  <td>511</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/ikeikeikeike/fluent-plugin-gstore">gstore</a></td>
                  <td><a href="https://github.com/ikeikeikeike/fluent-plugin-gstore">fluent-plugin-gstore 0.3.2</a></td>
                  <td>Tatsuo Ikeda</td>
                  <td>Google Cloud Storage output plugin for the Fluent.</td>
                  <td>505</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-norikra">norikra</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-norikra">fluent-plugin-norikra 0.0.3</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>process events on fluentd with SQL like query, with built-in Norikra server if needed.</td>
                  <td>473</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/ToQoz/fluent-plugin-weather">weather</a></td>
                  <td><a href="https://github.com/ToQoz/fluent-plugin-weather">fluent-plugin-weather 0.0.1</a></td>
                  <td>Takatoshi Matsumoto</td>
                  <td>Weather output plugin for Fluent</td>
                  <td>462</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/riywo/fluent-plugin-groupcounter">groupcounter</a></td>
                  <td><a href="https://github.com/riywo/fluent-plugin-groupcounter">fluent-plugin-groupcounter 0.1.0</a></td>
                  <td>Ryosuke IWANAGA, Naotoshi SEO</td>
                  <td>Fluentd plugin to count like COUNT(\*) GROUP BY</td>
                  <td>448</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/moccos/fluent-plugin-websocket">websocket</a></td>
                  <td><a href="https://github.com/moccos/fluent-plugin-websocket">fluent-plugin-websocket 0.1.3</a></td>
                  <td>IZAWA Tetsu (@moccos)</td>
                  <td>Fluentd websocket output plugin which can output JSON string or MessagePack binary to the clients.</td>
                  <td>448</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/hapyrus/fluent-plugin-redshift">redshift</a></td>
                  <td><a href="https://github.com/hapyrus/fluent-plugin-redshift">fluent-plugin-redshift 0.0.2</a></td>
                  <td>Masashi Miyazaki</td>
                  <td>Amazon Redshift output plugin for Fluentd</td>
                  <td>444</td>
                </tr>
              
                <tr>
                  <td><a href="">redeliver</a></td>
                  <td><a href="">fluent-plugin-redeliver 0.1.0</a></td>
                  <td>Masatoshi Kawazoe (acidlemon)</td>
                  <td>simple tag-based redeliver plugin</td>
                  <td>434</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/katsyoshi/fluent-plugin-axlsx">axlsx</a></td>
                  <td><a href="https://github.com/katsyoshi/fluent-plugin-axlsx">fluent-plugin-axlsx 0.0.1</a></td>
                  <td>MATSUMOTO Katsuyoshi</td>
                  <td>fluentd output plugin for excel</td>
                  <td>432</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/ma2shita/fluent-plugin-resolv">resolv</a></td>
                  <td><a href="https://github.com/ma2shita/fluent-plugin-resolv">fluent-plugin-resolv 0.0.3</a></td>
                  <td>Kohei MATSUSHITA</td>
                  <td>Fluent plugin, IP address resolv and rewrite.</td>
                  <td>420</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/algas/fluent-plugin-retag">retag</a></td>
                  <td><a href="https://github.com/algas/fluent-plugin-retag">fluent-plugin-retag 0.0.1</a></td>
                  <td>Masahiro Yamauchi</td>
                  <td>Output filter plugin to retag</td>
                  <td>376</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/haracane/fluent-plugin-pgdist">pgdist</a></td>
                  <td><a href="http://github.com/haracane/fluent-plugin-pgdist">fluent-plugin-pgdist 0.2.0</a></td>
                  <td>Kenji Hara</td>
                  <td>Fluentd plugin for distribute insert into PostgreSQL</td>
                  <td>372</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/kenjiskywalker/fluent-plugin-rds-slowlog">rds-slowlog</a></td>
                  <td><a href="https://github.com/kenjiskywalker/fluent-plugin-rds-slowlog">fluent-plugin-rds-slowlog 0.0.2</a></td>
                  <td>kenjiskywalker</td>
                  <td>Amazon RDS slow_log input plugin for Fluent event collector</td>
                  <td>365</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/todesking/fluent-plugin-mixi_community">mixi_community</a></td>
                  <td><a href="https://github.com/todesking/fluent-plugin-mixi_community">fluent-plugin-mixi_community 0.0.1</a></td>
                  <td>todesking</td>
                  <td>Fluentd input plugin, source from Mixi community</td>
                  <td>331</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/ento/fluent-plugin-out-http">out-http</a></td>
                  <td><a href="https://github.com/ento/fluent-plugin-out-http">fluent-plugin-out-http 0.1.0</a></td>
                  <td>Marica Odagaki</td>
                  <td>A generic Fluentd output plugin to send logs to an HTTP endpoint</td>
                  <td>318</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/m3dev/fluent-plugin-http-list">http-list</a></td>
                  <td><a href="https://github.com/m3dev/fluent-plugin-http-list">fluent-plugin-http-list 0.1.0</a></td>
                  <td>Paul McCann</td>
                  <td>fluent plugin to accept multiple events in one HTTP request</td>
                  <td>309</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/tarom/fluent-plugin-mongo-typed">mongo-typed</a></td>
                  <td><a href="http://github.com/tarom/fluent-plugin-mongo-typed">fluent-plugin-mongo-typed 0.1.0</a></td>
                  <td>MORIYA Taro</td>
                  <td>Typed mongo output plugin</td>
                  <td>302</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/uken/fluent-plugin-postgres">postgres</a></td>
                  <td><a href="https://github.com/uken/fluent-plugin-postgres">fluent-plugin-postgres 0.0.1</a></td>
                  <td>TAGOMORI Satoshi, Diogo Terror, pitr</td>
                  <td>fluent plugin to insert on PostgreSQL</td>
                  <td>298</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/imkira/fluent-plugin-event-tail">event-tail</a></td>
                  <td><a href="https://github.com/imkira/fluent-plugin-event-tail">fluent-plugin-event-tail 0.0.1</a></td>
                  <td>Mario Freitas</td>
                  <td>fluentd input plugin derived from in_tail and inspired by in_forward for reading [tag, time, record] messages from a file</td>
                  <td>283</td>
                </tr>
              
                <tr>
                  <td><a href="">arango</a></td>
                  <td><a href="">fluent-plugin-arango 0.0.1</a></td>
                  <td>tamtam180</td>
                  <td>ArangoDB plugin for Fluent event collector</td>
                  <td>280</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/emurphy/fluent-plugin-opentsdb">opentsdb</a></td>
                  <td><a href="https://github.com/emurphy/fluent-plugin-opentsdb">fluent-plugin-opentsdb 0.1.1</a></td>
                  <td>Emmet Murphy</td>
                  <td>Fluentd plugin to graph fluent-plugin-numeric-monitor values in OpenTSDB</td>
                  <td>274</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/tarom/fluent-plugin-typecast">typecast</a></td>
                  <td><a href="http://github.com/tarom/fluent-plugin-typecast">fluent-plugin-typecast 0.1.0</a></td>
                  <td>MORIYA Taro</td>
                  <td>typecast output plugin for fluentd</td>
                  <td>262</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/ziguzagu/fluent-plugin-ganglia">ganglia</a></td>
                  <td><a href="https://github.com/ziguzagu/fluent-plugin-ganglia">fluent-plugin-ganglia 0.0.1</a></td>
                  <td>Hiroshi Sakai</td>
                  <td>Fluentd output plugin to ganglia</td>
                  <td>252</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/jdoconnor/fluentd_https_out">https-json</a></td>
                  <td><a href="https://github.com/jdoconnor/fluentd_https_out">fluent-plugin-https-json 0.0.1</a></td>
                  <td>Jay OConnor</td>
                  <td>Fluentd output plugin to buffer logs as json arrays to a url</td>
                  <td>241</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/f440/fluent-plugin-stathat/">stathat</a></td>
                  <td><a href="https://github.com/f440/fluent-plugin-stathat/">fluent-plugin-stathat 0.0.1</a></td>
                  <td>f440</td>
                  <td>StatHat output plugin for Fluentd.</td>
                  <td>233</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/banyan/fluent-plugin-filter_keys">filter_keys</a></td>
                  <td><a href="https://github.com/banyan/fluent-plugin-filter_keys">fluent-plugin-filter_keys 0.0.1</a></td>
                  <td>Kohei Hasegawa</td>
                  <td>Fluentd plugin to filter if a specific key is present or not in event logs.</td>
                  <td>223</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/msfukui/fluent-plugin-tagdata">tagdata</a></td>
                  <td><a href="https://github.com/msfukui/fluent-plugin-tagdata">fluent-plugin-tagdata 0.0.1</a></td>
                  <td>Fukui Masayuki</td>
                  <td>Fluentd plugin to put the tag records in the data.</td>
                  <td>214</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/toyama0919/fluent-plugin-leftronic/">leftronic</a></td>
                  <td><a href="https://github.com/toyama0919/fluent-plugin-leftronic/">fluent-plugin-leftronic 0.0.2</a></td>
                  <td>toyama0919</td>
                  <td>StatHat output plugin for Fluentd.</td>
                  <td>212</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/lanyuyang/fluent-plugin-onlineuser">onlineuser</a></td>
                  <td><a href="https://github.com/lanyuyang/fluent-plugin-onlineuser">fluent-plugin-onlineuser 0.0.1</a></td>
                  <td>Yuyang Lan</td>
                  <td>Fluentd plugin to count online users. It's based on Redis and the sorted set data type.</td>
                  <td>205</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/johtani/fluent-plugin-zoomdata">zoomdata</a></td>
                  <td><a href="https://github.com/johtani/fluent-plugin-zoomdata">fluent-plugin-zoomdata 0.0.1</a></td>
                  <td>Jun Ohtani</td>
                  <td>Fluentd output plugin to post json to zoomdata</td>
                  <td>193</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/memorycraft/fluent-plugin-sumologic">sumologic</a></td>
                  <td><a href="https://github.com/memorycraft/fluent-plugin-sumologic">fluent-plugin-sumologic 0.0.1</a></td>
                  <td>memorycraft</td>
                  <td>fluent plugin for sumologic</td>
                  <td>188</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/restorando/fluent-plugin-amqp">amqp2</a></td>
                  <td><a href="https://github.com/restorando/fluent-plugin-amqp">fluent-plugin-amqp2 0.0.1</a></td>
                  <td>Augusto Becciu, Juan Manuel Barreneche</td>
                  <td>AMQP output plugin for Fluent</td>
                  <td>170</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/y-ken/fluent-plugin-twilio">twilio</a></td>
                  <td><a href="https://github.com/y-ken/fluent-plugin-twilio">fluent-plugin-twilio 0.0.1</a></td>
                  <td>Kentaro Yoshida</td>
                  <td>Fluentd Output plugin to make a call with twilio.</td>
                  <td>169</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/choplin/fluent-plugin-tail-lite">tail-lite</a></td>
                  <td><a href="https://github.com/choplin/fluent-plugin-tail-lite">fluent-plugin-tail-lite 0.0.1</a></td>
                  <td>OKUNO Akihiro</td>
                  <td>Fluentd input plugin which read text files and emit each line as it is.</td>
                  <td>153</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-dummydata-producer">dummydata-producer</a></td>
                  <td><a href="https://github.com/tagomoris/fluent-plugin-dummydata-producer">fluent-plugin-dummydata-producer 0.0.1</a></td>
                  <td>TAGOMORI Satoshi</td>
                  <td>Emits dummy data to do bench marks and other tests</td>
                  <td>104</td>
                </tr>
              
                <tr>
                  <td><a href="https://github.com/keithseahus/fluent-plugin-glusterfs">glusterfs</a></td>
                  <td><a href="https://github.com/keithseahus/fluent-plugin-glusterfs">fluent-plugin-glusterfs 1.0.0</a></td>
                  <td>Keisuke Takahashi</td>
                  <td>Fluentd plugin for GlusterFS</td>
                  <td>88</td>
                </tr>
              
                <tr>
                  <td><a href="http://github.com/kensantou/fluent-plugin-redislist">redislist</a></td>
                  <td><a href="http://github.com/kensantou/fluent-plugin-redislist">fluent-plugin-redislist 0.0.1</a></td>
                  <td>Ken Santo</td>
                  <td>Redis list type output plugin for Fluent</td>
                  <td>87</td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>

    <!-- Google Analytics -->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24890265-2']);
    _gaq.push(['_setDomainName', 'fluentd.org']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

    <!-- Google Code for fluentd -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1009909590;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "5gEjCPL88wIQ1v7H4QM";
    var google_conversion_value = 0;
    /* ]]> */
    </script>
    <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009909590/?value=0&amp;label=5gEjCPL88wIQ1v7H4QM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <!-- Pardot -->
    <script type="text/javascript">
    piAId = '25122';
    piCId = '1030';
    (function() {
    function async_load(){
    var s = document.createElement('script'); s.type = 'text/javascript';
    s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
    var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
    }
    if(window.attachEvent) { window.attachEvent('onload', async_load); }
    else { window.addEventListener('load', async_load, false); }
    })();
    </script>
  </body>
</html>

